body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(6, 114, 60);
    color: rgb(99, 2, 2);


}

h1 {

    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0d1b97;
}

.job-title {
    
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #1726ad;
    color: #898dbe;
}

.high {

    color: rgb(13, 27, 151);
    font-size: 20px;
    background-color: tomato;
}

.x {

    color: rgb(223, 215, 185);

}

.p {

    background-color: #333333;
    color: rgb(223, 215, 185);

}