.box1 {

    width: 200px;
    height: 200px;
    background-color: chartreuse;
    position: relative;
    border: 50px solid;
    
    
}

.box2 {

    width: 200px;
    height: 200px;
    background-color: darkblue;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 50px solid;
    
}

.box3 {

    width: 200px;
    height: 200px;
    background-color: orangered;
    position: fixed;
    left: calc(50% - 400px/2);
    border: 50px solid ;

}

.body {

    width: 400px;
    height: 900px;
    background-color: gray

}

.paragrafo{

    text-align: center;
    font-size: 20px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 45%;
    margin-bottom: 45%;

}