body {

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/49/Center_of_S%C3%A3o_Paulo_at_night%2C_seen_from_Edif%C3%ADcio_Mirante_do_Vale%2C_2015-12-09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.imagem{

    background-image: url(https://images.unsplash.com/photo-1598900863555-3b098bec6394?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2FvJTIwcGF1bG98ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
}

h1 {

    font-family: 'IBM Plex Sans', sans-serif;
    padding: 15px 15px;
    color: lightcyan;
}

.curiosidades {

    font-family: 'Coming Soon', cursive;
    color: lightcyan;
}

.instagram {

    width: 50px;
    height: 50px;

}

.youtube {

    width: 100px;
    height: 50px;

}

p{
    color: lightcyan;
}

main {

color: lightcyan;
}

.registro {

    list-style: none;
    display: flex;
    flex-direction: column;
    color: rgb(6, 173, 6);
}


input:hover {

    transform: scale(1.5);
}

.turistico {

    list-style: none;
    display: flex;
    flex-direction: column;
    color: rgb(6, 173, 6);
}

.outro {

    color: limegreen;
}

