/*Exemplo de estilização*/

body {

    background-color: white;
}

h1 {

    color: darkgrey;
}

.titulo-principal {

color: darkorange;
font-size: 20px;

}

#titulo {

    color: darkviolet;
    font-size: 80px;
}

.card a, .card h1, .card p {

    color: yellow;
font-size: 40px;

}